{% extends "layout.html" %} {% block content %}

<h2>Last URLs Smashed</h2>

<ul>
  {% for link in all-links %}
  <li>
    <form action="/list/delete" method="post" style="display: inline">
      <input type="hidden" name="short_code" value="{{ link.short_code }}" />
      <button type="submit">[delete]</button>
    </form>
    (<a href="/r/{{ link.short_code }}">{{ link.short_code }}</a>)
    <a
      href="{{ link.original_url }}"
      title="{{ link.original_url }}"
      rel="noopener noreferrer nofollow"
    >
      {{ link.original_url|truncatechars:50 }}
    </a>
  </li>
  {% endfor %}
</ul>

{% endblock %}
